.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    /* color:#fff;
    font-size:20px; */
  }
  .header{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }