  html{
      height:100%;
  }
  body{
      background-color: #f6f6f6; 
      height:100%;
  }
  #__next{
    height:100%;
    display: flex;
    flex-direction: column;
  }
    
  .comm-left{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
  }
  .comm-box{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
  
  }
  .comm-main{
    flex: 1;
  }