  html{
      height:100%;
  }
  body{
      background-color: #f6f6f6; 
      height:100%;
      /* min-height:100%; */
      display: flex;
      flex-direction: column;
  }
  #__next{
    height:100%;
  }
    
  .comm-left{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
  }
  .comm-box{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
  
  }
  .comm-main{
    margin-top: .5rem;
    /* min-height:100%; */
    flex: 1;
  }